<h1>Journal</h1>

<p>
  <%= link_to 'Add Entry', new_entry_path %>
</p>

<br />

<ul class="unstyled">
  <% @entries.each do |entry| %>
  <li>
    <%= link_to entry.title, entry %>
  </li>
  <% end %>
</ul>
